.et_pb_blog_grid {
  .et_pb_salvattore_content[data-columns="2"] {
    .column:nth-child(1) {
      padding-right: 10px;
    }

    .column:nth-child(2) {
      padding-left: 10px;
    }
  }
}

.et_pb_widget_area_right {
  border-left: none !important;
}

.single-post #main-content .container:before {
  display: none !important;
}

h4.widgettitle {
  font-size: 24px;
}

.form-submit.form-submit .et_pb_button {
  color: $color-white;
}

.single-post {
  h3 {
    color: $color-teal;
  }

  h4 {
    color: $color-pink;
  }
}
