// Brand Colors
$color-pink: #E75762;
$color-teal: #0BB3B4;
$color-yellow: #E5C11B;
$color-purple: #62336A;

// Neutral Colors
$color-black: #000;
$color-grey-dark: #4A4A4A;
$color-grey: #858585;
$color-grey-light: #EFEFEF;
$color-white: #FFF;

// Utility Colors
$color-red: #B90A0A;
$color-green: #54A352;
$color-blue: #0A6B75;
