// Brand Colors
$color-pink: #ED858D;
$color-teal: #53B4B4;
$color-yellow: #E5C11B;
$color-purple: #62336A;
$color-blue: #3D5C8B;

// Neutral Colors
$color-black: #000;
$color-grey-dark: #4A4A4A;
$color-grey: #858585;
$color-grey-light: #EFEFEF;
$color-white: #FFF;

// Utility Colors
$color-red: #B90A0A;
$color-green: #54A352;
