.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background: #FFF;
  clip: auto;
  clip-path: none;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

a:focus {
  outline: #99999e auto 5px;
}

.entry-content a:hover, .entry-content a:active, .entry-content a:focus, #main-content a:hover, #main-content a:active, #main-content a:focus {
  text-decoration: underline;
}

.et_pb_button.et_pb_button {
  padding: 0.3em 3em !important;
  color: #FFF;
}
.et_pb_button.et_pb_button.comment-reply-link {
  padding: .3em 1em !important;
}
.et_pb_button.et_pb_button.comment-reply-link:hover, .et_pb_button.et_pb_button.comment-reply-link:focus, .et_pb_button.et_pb_button.comment-reply-link:active {
  padding: .3em 2em .3em .7em !important;
}
.et_pb_button.et_pb_button:hover, .et_pb_button.et_pb_button:focus, .et_pb_button.et_pb_button:active {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none !important;
}

.et_header_style_centered #main-header .logo_container {
  padding: 10px 0 0;
}

.et_header_style_centered nav#top-menu-nav {
  width: 100%;
}

.et_header_style_centered #top-menu.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.et_header_style_centered #top-menu.nav > li {
  padding-right: 0;
}

.et_header_style_centered #main-header .container {
  width: 90%;
}

.et_fixed_nav #main-header, .et_fixed_nav #top-header {
  border-bottom: 2px solid #E75762;
}

@media only screen and (min-width: 981px) {
  .et_header_style_centered #top-menu > li.menu-item > a {
    padding: 1.5em 0 1em;
  }

  .et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container.logo_container {
    height: 0;
  }
}
#et-secondary-nav .menu-item-has-children > a:first-child:after, #top-menu .menu-item-has-children > a:first-child:after {
  display: none;
}

#top-menu-nav > ul > li {
  position: relative;
}
#top-menu-nav > ul > li.et-hover::after, #top-menu-nav > ul > li:hover::after, #top-menu-nav > ul > li:focus::after, #top-menu-nav > ul > li:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  background: #0BB3B4;
}
#top-menu-nav > ul > li > a:hover, #top-menu-nav > ul > li > a:focus, #top-menu-nav > ul > li > a:active {
  opacity: 1;
  color: #0BB3B4;
}

#top-menu li li {
  padding: 0;
  width: 100%;
}
#top-menu li li a {
  width: 100%;
}
#top-menu li li a:hover, #top-menu li li a:focus, #top-menu li li a:active {
  opacity: 1;
  color: #0BB3B4;
}

#top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a {
  color: #E75762;
}

@media (max-width: 980px) {
  .et_header_style_centered.et_header_style_centered header#main-header {
    padding: 10px 0;
  }
  .et_header_style_centered.et_header_style_centered header#main-header .logo_container {
    position: absolute;
    width: 100%;
  }
  .et_header_style_centered.et_header_style_centered header#main-header div#et-top-navigation {
    float: right;
    width: auto;
    position: static;
  }
  .et_header_style_centered.et_header_style_centered #logo {
    max-height: 80px;
  }
  .et_header_style_centered.et_header_style_centered #et_mobile_nav_menu {
    float: right;
    margin: 0;
    position: static;
  }
  .et_header_style_centered.et_header_style_centered #et_mobile_nav_menu .mobile_nav {
    background: none;
    border-radius: 0;
  }
  .et_header_style_centered.et_header_style_centered #et_mobile_nav_menu .mobile_nav .select_page {
    display: none;
  }
  .et_header_style_centered.et_header_style_centered .et_mobile_menu {
    top: 100px;
    padding: 2em 0;
  }
  .et_header_style_centered.et_header_style_centered .et_mobile_menu li a {
    font-size: 18px;
  }
  .et_header_style_centered.et_header_style_centered .et_mobile_menu li a:hover, .et_header_style_centered.et_header_style_centered .et_mobile_menu li a:focus, .et_header_style_centered.et_header_style_centered .et_mobile_menu li a:active {
    opacity: 1;
    color: #0BB3B4;
  }
}
.mobile_menu_toggle {
  display: block;
  position: relative;
  line-height: 0;
  padding: 24px 0;
  text-decoration: none;
}
.mobile_menu_toggle::before {
  color: #0BB3B4;
  position: relative;
  top: 0;
  left: 0;
  font-size: 32px;
  content: "\61";
  cursor: pointer;
  text-shadow: 0 0;
  font-family: ETmodules !important;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  text-transform: none;
  speak: none;
}

.mobile_nav.opened .et_mobile_menu {
  display: block;
}

#mobile_menu li {
  position: relative;
}
#mobile_menu li::before {
  display: none;
}
#mobile_menu li a {
  background: none;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

#mobile_menu .menu-item-has-children > a {
  position: relative;
}
#mobile_menu .menu-item-has-children > a::after {
  display: block !important;
  font-family: 'ETmodules';
  text-align: center;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  font-size: 16px;
  content: '\4c';
  top: 13px;
  right: 10px;
}
#mobile_menu .menu-item-has-children .sub-menu {
  display: none;
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: all .3s ease-in-out;
  padding-top: 0;
}
#mobile_menu .menu-item-has-children.opened .sub-menu {
  display: block;
  height: auto;
  opacity: 1;
}
#mobile_menu .menu-item-has-children.opened > a::after {
  content: '\4b';
}

.global-footer {
  border-top: 2px solid #0BB3B4;
}
.global-footer .et_pb_social_media_follow {
  padding-bottom: 25px;
}
.global-footer .et_pb_social_media_follow li a.icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  text-decoration: none !important;
}
.global-footer .et_pb_social_media_follow li a.icon::before {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 36px;
}
.global-footer .et_pb_social_media_follow li a.icon:hover, .global-footer .et_pb_social_media_follow li a.icon:focus, .global-footer .et_pb_social_media_follow li a.icon:active {
  text-decoration: none !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.global-footer a:not(.et_pb_button) {
  color: #4A4A4A;
  font-weight: bold;
  transition: all 0.3s ease;
}
.global-footer a:not(.et_pb_button):hover, .global-footer a:not(.et_pb_button):focus, .global-footer a:not(.et_pb_button):active {
  color: #0BB3B4;
  text-decoration: underline;
}

#footer-bottom .container {
  width: 100%;
  max-width: none;
  padding: 0 30px;
}

#footer-info {
  text-decoration: none;
  display: block;
  width: 100%;
}
#footer-info .left {
  float: left;
  text-align: left;
}
#footer-info .right {
  float: right;
  text-align: right;
}

.experience h2, .featured-on h2 {
  font-size: 3.75em;
  letter-spacing: 5px;
  display: inline-block;
  text-align: left;
}
.experience h2 span, .featured-on h2 span {
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0;
}

.yellow-top {
  border-top: 2px solid #E5C11B;
}

@media (min-width: 981px) {
  .overlap-negative.overlap-negative > div.et_pb_column {
    margin-top: -50px;
    padding: 0 20px;
  }
}
.home .et_pb_blurb {
  overflow: hidden;
}
.home .et_pb_blurb.blurb-pink .et_pb_blurb_description {
  background: #E75762;
}
.home .et_pb_blurb.blurb-pink .et_pb_blurb_description a {
  color: #E75762;
}
.home .et_pb_blurb.blurb-teal .et_pb_blurb_description {
  background: #0BB3B4;
}
.home .et_pb_blurb.blurb-teal .et_pb_blurb_description a {
  color: #0BB3B4;
}
.home .et_pb_blurb.blurb-yellow .et_pb_blurb_description {
  background: #E5C11B;
}
.home .et_pb_blurb.blurb-yellow .et_pb_blurb_description a {
  color: #E5C11B;
}
.home .et_pb_blurb:hover .et_pb_blurb_description, .home .et_pb_blurb:focus .et_pb_blurb_description, .home .et_pb_blurb:active .et_pb_blurb_description {
  top: 0;
}
.home .et_pb_main_blurb_image {
  display: block;
  margin: 0;
}
.home .et_pb_main_blurb_image img {
  display: block;
  width: 100%;
}
.home .et_pb_blurb_container {
  height: 5em;
  overflow: hidden;
}
.home .et_pb_module_header {
  margin: 0;
  padding: 1em 0;
  letter-spacing: 1px;
}
.home .et_pb_blurb_description {
  position: absolute;
  top: 100%;
  bottom: 0;
  transition: all 0.5s ease;
  overflow: auto;
  padding: 15px;
  font-size: 16px;
  text-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.home .et_pb_blurb_description a {
  display: block;
  background: #FFF;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 18px;
}
.home .et_pb_blurb_description a:hover, .home .et_pb_blurb_description a:focus, .home .et_pb_blurb_description a:active {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.et_pb_fullwidth_header.difference {
  position: relative;
}
.et_pb_fullwidth_header.difference .et_pb_fullwidth_header_container {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: #E75762;
  color: #FFF;
  width: 50%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  padding: 30px;
}
.et_pb_fullwidth_header.difference .et_pb_fullwidth_header_container .header-content {
  padding: 0;
  margin: 0;
}
.et_pb_fullwidth_header.difference .et_pb_fullwidth_header_container h2.et_pb_module_header {
  padding: 0 0 10px;
  letter-spacing: 0;
}

.et_pb_blog_grid .et_pb_salvattore_content[data-columns="2"] .column:nth-child(1) {
  padding-right: 10px;
}
.et_pb_blog_grid .et_pb_salvattore_content[data-columns="2"] .column:nth-child(2) {
  padding-left: 10px;
}

.et_pb_widget_area_right {
  border-left: none !important;
}

#main-content .container:before {
  display: none !important;
}

h4.widgettitle {
  font-size: 24px;
}

.single-post .entry-content h3 {
  color: #0BB3B4;
}
.single-post .entry-content h4 {
  color: #E75762;
}
